<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<div th:insert="header.html :: header('DrAppointment | Login')"></div>
<body>
	<section>
		<div th:insert="navbar.html :: navbar"></div>
	</section>
	<section>
			<form class="login_container" action="/loginuser" method="POST">
				<h3>Login Now</h3>
				<p th:if="${loginerror}" style="color: red;" th:text="${loginerror}"></p>
				<p th:if="${regsuccess}" style="color: green;" th:text="${regsuccess}"></p>
				<input type="email" name="email" placeholder="Enter email" class="login_reg_input" required>
				<input type="password" name="password" placeholder="Enter password" class="login_reg_input" required>
				<button type="submit" class="button_style">Login</button>
			</form>
	</section>

	<section>
		<div th:insert="footer.html :: footer"></div>
	</section>

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>