<!DOCTYPE html>
<html lang="en">
<!-- Header Section -->
<header th:insert="fragments/header.html :: header('DrAppointment | Login', '/css/login.css')"></header>
<body>
    <main>
        <!-- Navbar Section -->
        <nav th:insert="fragments/navbar.html :: navbar"></nav>

        <!-- Login Form Section -->
        <section>
            <form class="login_container" th:action="@{/loginUser}" method="POST">
                <h3>Login Now</h3>
                <p th:if="${loginError}" style="color: red;" th:text="${loginError}"></p>
                <p th:if="${regSuccess}" style="color: green;" th:text="${regSuccess}"></p>
                <input type="username" name="username" placeholder="Enter username" class="login_reg_input" required>
                <input type="password" name="password" placeholder="Enter password" class="login_reg_input" required>
                <button type="submit" class="button_style">Login</button>
            </form>
        </section>
    </main>
    <!-- Footer Section -->
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>